.* {
	box-sizing: border-box;
}

.candidatesTable {
	font-family: Calibri;
	text-align: left;
	border-color: #CCCCCC;
}

	.candidatesTable th {
		background-color: #3498DB;
		color: #FFFFFF;
		font-size: 145%;
		padding-left: 13px;
	}

	.candidatesTable td {
		font-size: 150%;
		padding-left: 10px;
		color: #292929;
	}

	.candidatesTable tr:nth-child(even) {
		background-color: #EEEEEE;
	}
